@import '../../Style/GeneralStyle.scss';

.skill{
    background-color: $SystemDarkColor;
    color: $SystemBlueColor;
    padding: 7px 10px;
    border-radius: 10px;
    // font-size: 17px;
    // font-weight: 600;
    // @include RegularParagraph2;
    @include RegularHeaderBold;
    transition: 0.5s;
    // &:hover{
    //     // transform: scale(1.2);
    //     color: $SystemBlueColor;
    //     box-shadow: 2px 2px 2px 2px $SystemBlueColor;
    //     // border: 1px solid $SystemBlueColor;
    // }
}
@media (max-width: $BigMobile){
    .skill{
        padding: 2px 5px;
        border-radius: 6px;
        font-size: 14px;
    }
}

@media (max-width: $Mobile){
    .skill{
        padding: 1px 2px;
    }
}