@import "../../Style/GeneralStyle.scss";

.skill__container {
  background-color: $DarkSecondColor;
  color: $BrightSecondColor;
  padding: 7px 15px;
  border-radius: 10px;
  @include FontNormal18;
  transition: 0.5s;
}

.skill__label {
    @include FontNormal18;
    color: $BrightSecondColor;
  text-align: left;
  margin-bottom: 5px;
}
.skill__percentSkill {
  // margin-bottom: 15px;
  height: 8px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  .skill__percentShow {
    background-color: $BrightMainColor;
    display: block;
    height: 8px;
    border-radius: 15px;
    position: relative;
    &::after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: $BrightSecondColor;
      border: 1px solid $BrightMainColor;
      position: absolute;
      right: 0px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
