// NEW COLORS STYLE 
$DarkMainColor: #222831;
$DarkSecondColor: #393E46;
$BrightMainColor: #00ADB5;
$BrightSecondColor: #EEEEEE;
$BorderColor: rgb(238 238 238 / 10%);



@font-face {
  font-family: 'Oswald';
  src: url('./Assest/Font/Oswald/Oswald-VariableFont_wght.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Assest/Font/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Assest/Font/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@mixin Header {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 96px;
  font-weight: bold;
}

@mixin BoldFont64{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 64px;
  font-weight: bold;
}
@mixin BoldFont44{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 44px;
  font-weight: bold;
}


@mixin FontNormal18 {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
@mixin FontNormal25 {
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
}
@mixin FontNormal15 {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
@mixin FontNormal30 {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
}

@mixin LogoFont {
  font-family: 'oswald';
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}
@mixin LogoFontIpad {
  font-family: 'oswald';
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

$LaptopMaxWidth: 1200px;
$LaptopWidth: 991px;

$IpadMaxWidth: 991px;
$IpadWidth: 768px;

$TabletMaxWidth: 767px;
$TabletMediumWidth: 700px;
$TabletWidth: 600px;

$MobileMediumWidth: 500px;
$MobileMinWidth: 400px;




$TvWidth: 1200px;
$LaptopWidth: 991px;
$IpadWidth: 776px;
$BigMobile: 500px;
$Mobile: 400px;




$PaddingBigContainer: 150px;
$PaddingContainer: 120px;
$PaddingMediumContainer: 90px;
$PaddingSmallContainer: 70px;
$PaddingXSmallContainer: 0px;