$SystemWhiteColor: #ffffff;
$SystemWhiteDarkColor: #ffffff0d;
$SystemBlueColor: #5CBCDF;
$SystemBlue2Color: #57B4D5;
$SystemBlue3Color: #4A97B3;
$SystemBlue4Color: #3C7A91;
$SystemBlue5Color: #2E5E6F;
$SystemBlue6Color: #20414D;
$SystemYellowColor: rgb(255 230 0 / 60%);
$SystemDarkColor: #2a2a2a;
$SystemDark2Color: rgb(42 42 42 / 80%);
// $SystemBrown2Color: #593E25;


// #3f4148
// #b3c8dd
// #484540
// #595742