@import '../../../Shared/Style/GeneralStyle.scss';

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: $SystemBlue6Color;
    margin-top: 100px;
}
.footer__title{
    // text-align: left;
    // font-size: 35px;
    // font-weight: 600;
    @include RegularHeaderMediumBold2;  
    color: $SystemBlueColor;
    margin: 10px 0;
}
.footer__contactBoxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .footer__box {
        @include RegularParagraph2;
        display: flex;
        align-items: center;
        gap: 15px;
        color: $SystemWhiteColor;
    }
    a.footer__box{
        text-decoration: none;
    }
}

.footer__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .footer__name{
        margin: 0 0 15px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: $SystemBlueColor;
        // color: $SystemYellowColor;
    }
    .footer__egypt{
        // font-size: 20px;
        // font-weight: 600;
        @include RegularParagraph1;
        color: $SystemWhiteColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: red;
        span{
            color: $SystemWhiteColor;
        }
        .footer__egyptianFlag{
            color: black;
        }
    }
    .footer__egyptIcons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        font-size: 35px;
        font-weight: bold;
        margin: 15px 0;
        .icon:nth-child(1),
        .icon:nth-child(3),
        .icon:nth-child(5),
        .icon:nth-child(7)
        {
            color: $SystemYellow2Color;
            &:hover {
                color: $SystemYellowColor;
            }
        }
        .icon:nth-child(2),
        .icon:nth-child(4),
        .icon:nth-child(6){
            color: $SystemBlue3Color;
            &:hover{
                color: $SystemBlueColor;
            }
        }
    }
    .footer__russia{
        @include RegularMainFont2;
        // font-size: 20px;
        // font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: $SystemWhiteColor;
    }
}

@media(max-width: $BigMobile){
    .footer__right{
        .footer__egyptIcons {
            gap: 15px;
        }
    }
}
@media(max-width: $IpadWidth){
    .footer{
        flex-direction: column;
        gap: 50px;
    }
}