@import '../../../Shared/Style/GeneralStyle.scss';

.footer{
    margin-top: 100px;
    padding: 1px 0px 40px 0px;
    // background-color: #20414d;
    background-color: $SystemBlue6Color;
    .footer__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $SystemBlue6Color;
        margin-top: 100px;
        // padding-top: 50px;
        // padding-bottom: 30px
    }
}
.footer__title{
    @include RegularHeaderMediumBold2;  
    color: $SystemWhiteColor;
    margin: 10px 0;
}
.footer__contactBoxes{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    .footer__box {
        @include RegularParagraph2;
        display: flex;
        align-items: center;
        gap: 15px;
        color: $SystemBlue6Color;
        padding: 5px 8px;
        background-color: $SystemBlue1Color;
        border-radius: 10px;
        margin: 5px;
        &:hover{
            color: $SystemDarkColor;
        }
    }
    a.footer__box{
        text-decoration: none;
    }
}

.footer__right{
    margin-top: auto;
    .footer__egyptIcons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        font-size: 35px;
        font-weight: bold;
        margin: 15px 0;
        .icon
        {
            color: $SystemWhiteColor;
            &:hover {
                color: $SystemBlue2Color;
            }
        }
    }
}

@media(max-width: $BigMobile){
    .footer__right{
        .footer__egyptIcons {
            gap: 15px;
        }
    }
}
@media(max-width: $IpadWidth){
    .footer{
        .footer__container{
            flex-direction: column;
            gap: 50px;
        }
        .footer__contactBoxes{
            align-items: center;
        }
    }
}