@import "../../../Shared/Style/GeneralStyle.scss";

.header {
  position: fixed;
  // padding: 0px 96px;
  width: 100%;
  height: 96px;
  z-index: 1000;
  background-color: $DarkMainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $BorderColor;
  .header__border {
    position: absolute;
    width: 0px;
    left: 25%;
    top: 0;
    height: 100%;
    border-left: 1px solid rgba(238, 238, 238, 0.1);
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: 96px;
  flex-direction: column;
}
.header__right {
  margin-right: 96px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__name {
  @include LogoFont;
  margin: 0 auto;
  letter-spacing: -0.5px;
  color: $SystemWhiteColor;
}
.header__work {
  margin: 0;
  @include MainScriptNorm;
  color: $SystemBlueColor;
}

.header__infoBox {
  position: relative;
  ::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $BrightMainColor;
    transition: 0.5s;
  }
  &:hover{
    ::after{
      width: 100%;
    }
  }
  .header__info {
    @include FontNormal18;
    color: $BrightSecondColor;
    margin: 5px auto;
    cursor: pointer;
  }
}

@media (max-width: $TvWidth) {
  .header {
    &.header-hide {
      .header__right {
        top: 50px;
        right: 70px;
      }
    }
  }
}
@media (max-width: $LaptopWidth) {
  .header {
    &.header-hide {
      background-color: transparent;
      height: 100%;
      width: 100%;
      .header__right {
        display: none;
      }
    }
  }
}
@media (max-width: $IpadWidth) {
  .header {
    &.header-hide {
      height: 50vh;
      .header__right {
        display: none;
      }
      .header__left {
        display: none;
      }
    }
    .header__left {
      width: 100%;
      justify-content: center;
      align-items: center;
      .header__name {
        @include RegularHeaderMediumBold;
      }
      .header__work {
        @include MainScriptOverSmall;
      }
    }
    .header__right {
      display: none;
    }
  }
}
@media (max-width: $BigMobile) {
  .header {
    &.header-hide {
      height: 0px;
      .header__right {
        display: none;
      }
    }
    .header__left {
      .header__name {
        @include RegularHeaderMediumBold;
      }
      .header__work {
        @include MainScriptOverSmall;
      }
    }
  }
}
