@import "../../../Shared/Style/GeneralStyle.scss";


.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  transition: 0.5s;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &.header-show {
    background-color: $SystemDarkColor;
    .header__infoBox {
      background-color: transparent;
    }
  }
  &.header-hide {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    .header__img {
      display: none;
    }
    .header__left {
      position: absolute;
      top: 50px;
      left: 50px;
      .header__name {
        margin: 0 auto;
        letter-spacing: -0.5px;
        color: $SystemBlue6Color;
      }
      .header__work {
        color: $SystemBlue6Color;
        @include MainScriptNorm;
      }
    }
    .header__right {
      display: none;
    }
  }
}
.header__img {
  width: 85px;
  border-radius: 50%;
  border: 4px solid $SystemBlue3Color ;
  transition: 0.5s;
  &:hover {
    border-color: $SystemBlueColor;
  }
}
.header__name {
  @include RegularHeaderBolder;
  margin: 0 auto;
  letter-spacing: -0.5px;
  color: $SystemWhiteColor;
}
.header__work {
  margin: 0;
  @include MainScriptNorm;
  color: $SystemBlueColor;
}
.header__infoBox {
  background-color: $SystemDarkColor;
  border-radius: 20px;
  transition: 0.5s;
  .header__info {
    @include RegularMainFont1;
    color: $SystemWhiteColor;
    margin: 5px auto;
  }
  a.header__info {
    text-decoration: none;
  }
}


@media  (max-width: $TvWidth) {
    .header{
        &.header-hide{
            .header__right {
                top: 50px;
                right: 70px;
            }
        }
    }
}
@media  (max-width: $LaptopWidth) {
    .header{
        &.header-hide{
            background-color: transparent;
            height: 100%;
            width: 100%;
            .header__right {
              display: none;
            }
        }
    }
}
@media  (max-width: $IpadWidth) {
    .header{
        &.header-hide{
            height: 50vh;
            .header__right {
              display: none;
            }
            .header__left{
              display: none
            }
        }
        .header__left{
            .header__name{
                @include RegularHeaderMediumBold;
            }
            .header__work{
                @include MainScriptOverSmall;
            }
        }
        .header__right {
            .header__infoBox {
                .header__info{
                    @include RegularParagraph2;
                }
            }
        }
    }
}
@media  (max-width: $BigMobile) {
    .header{
        &.header-hide{
            height: 0px;
            .header__right {
                display: none;
            }
        }
        .header__left{
            .header__name{
                @include RegularHeaderMediumBold;
            }
            .header__work{
                @include MainScriptOverSmall;
            }
        }
        .header__right {
            display: none;
            .header__infoBox {
                .header__info{
                    @include RegularParagraph2;
                }
            }
        }
    }
}