@import "../../Shared/Style/GeneralStyle.scss";

.contactMe {
  height: 100vh;
  padding-top: 150px;
}
.contactMe__container {
  display: flex;
  align-items: center;
  .contactMe__left {
    width: 50%;
    position: relative;
  }
}
.contactMe__title {
  @include BoldFont64;
  margin: 0;
  text-align: left;
  color: $BrightSecondColor;
  span {
    color: $BrightMainColor;
  }
}
.contactMe__arrowIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(175deg);
  // font-size: 50px;
  width: 120px;
}

.contactMe__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 24px;
  label {
    display: block;
    text-align: left;
    color: $BrightSecondColor;
    @include FontNormal18;
    margin-bottom: 10px;
  }
  input {
    padding: 16px 24px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    border: none;
    width: calc(100% - 48px);
    &:focus {
      border: none;
    }
  }
}
.contactMe__info {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  div {
    width: 50%;
  }
  .contactMe__name {
  }
}
.contactMe__message {
  width: 100%;
  textarea {
    width: 100%;
    padding: 16px 24px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    border: none;
    width: calc(100% - 48px);
    height: 280px;
    resize: none;
  }
}
.contactMe__submitBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  gap: 10px;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  //   width: 232px;
  //   height: 47px;
  background: #00adb5;
  border-radius: 24px;
  border: none;
  @include FontNormal18;
  color: $BrightSecondColor;
}
.contactMe__successMessage {
  @include FontNormal18;
  color: $BrightSecondColor;
}
.contactMe__wrongMessage {
  @include FontNormal18;
  color: red;
}

@media (max-width: $LaptopWidth) {
  .contactMe {
    height: fit-content;
  }
  .contactMe__title {
    @include BoldFont44;
  }
  .contactMe__img {
    width: 200px;
    // height: 300px;
  }
  .contactMe__arrowIcon {
    width: 100px;
    top: 30%;
  }
  .contactMe__container {
    gap: 30px;
  }
  .contactMe__message {
    textarea {
      height: 200px;
    }
  }
}
@media (max-width: $LaptopWidth) {
  .contactMe__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactMe__title {
    line-height: 50px;
  }
  .contactMe__img {
    width: 110px;
    height: 150px;
  }
  .contactMe__arrowIcon {
    width: 80px;
    top: 40%;
  }
  .contactMe__container {
    gap: 30px;
  }
  .contactMe__left{
    width: 100%;
    margin-bottom: 30px;
  }
  .contactMe__right{
    width: 100%;
  }
  .contactMe__info{
    flex-direction: column;
    div{
      width: 75%;
    }
  }
  .contactMe__message{
    width: 75%;
    margin: auto;
  }
  .contactMe__submitBtn{
    margin: auto;
  }
}
@media (min-width: 768px) {
  .contactMe__container{
    padding: 0px 90px;
  }
}