@import '../../Shared/Style/GeneralStyle.scss';

.experience{
    margin-top: 80px;
    height: fit-content;
    .experience__container{
        // margin-right: 0;
    }
}
.experience__content{
    height: fit-content;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.experience__company{
    background-color: $SystemDarkColor;
    width: 600px;
    border-radius: 100px;
    padding: 40px 30px;
    text-align: center;
}
.experience__companyName{
    @include RegularHeaderMediumBold2;
    // margin-right: $PaddingContainer;
    margin-bottom: 20px;
    color: $SystemWhiteColor;
}
.experience__team{
    // margin-right: $PaddingContainer;
    margin-top: 20px;
    @include RegularParagraphBold;
    color: $SystemBlue1Color;
}
.experience__img{
    width: 500px;
    border-radius: 50px 50px 50px 50px;
}
.experience__txt{
    width: 40%;
    text-align: left;
    color: $SystemBlue6Color;
    @include RegularParagraph3;
    margin-right: 20px;
}

@media (max-width: $TvWidth){
    .experience__content{
        flex-direction: column;
    }
}
@media (max-width: $LaptopWidth){
    .experience__company{
        border-radius: 100px;
        padding: 30px 15px 30px 15px;
        text-align: center;
        .experience__companyName{
            margin: 0 auto 10px;
        }
        .experience__team{
            margin: 10px auto 0;
        }
    }
    .experience__img {
        border-radius: 50px;
    }
    .experience__txt{
        width: 80%;
        text-align: center;
    }
}
@media (max-width: $IpadWidth){
    .experience__company{
        width: 400px;
        border-radius: 70px;
    }
    .experience__img {
        width: 300px;
        border-radius: 50px;
        @include RegularParagraph2;
        border-radius: 40px
    }
    .experience__companyName{
        @include RegularMainFont2;
    }
    .experience__team{
        @include RegularParagraph3;
    }
}
@media (max-width: $BigMobile){
    .experience__company{
        width: 340px;
        border-radius: 30px;
        padding: 20px;
    }
    .experience__img {
        width: 300px;
        border-radius: 15px;
    }
    .experience__companyName{
        @include RegularMainFont1;
    }
    .experience__team{
        @include RegularParagraph2;
    }
}

@media (max-width: $Mobile) {
    .experience__company{
        width: 300px;
    }
    .experience__img{
        width: 270px;
    }
}
