@import '../../Shared/Style/GeneralStyle.scss';

.experience{
    padding: 80px 0px;
    height: fit-content;
    background-color: $DarkMainColor;
    border-bottom: 1px solid $BorderColor;
}
.experience__content{
    height: fit-content;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.experience__company{
    background-color: $SystemWhiteColor;
    width: 40%;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
}
.experience__title{
    margin: 0;
    @include BoldFont64;
    color: $BrightSecondColor;
    span{
        color: $BrightMainColor;
    }
}
.experience__companyName{
    @include LogoFont;
    margin-bottom: 20px;
    color: $DarkMainColor;
}
.experience__team{
    // margin-top: 20px;
    @include FontNormal25;
    color: $BrightMainColor;
}
.experience__img{
    width: 90%;
    border-radius: 50px 50px 50px 50px;
}
.experience__txt{
    flex: 1;
    text-align: left;
    color: $BrightSecondColor;
    @include FontNormal25;
    margin-right: 20px;
    position: relative;
}
.experience__firstTxt{
    position: relative;
}
.experience__musicIcon{
    position: absolute;
    top: -50px;
    left: 0;
}
.experience__lampIcon{
    position: absolute;
    bottom: -30px;
    right: -20px;
}
.experience__arrowIcon{
    position: absolute;
    top: -120px;
    left: 70%;
    transform: translateX(-50%);
}
@media (max-width: $TvWidth){
    .experience__content{
        flex-direction: column;
    }
}
@media (max-width: $LaptopWidth){
    .experience__company{
        border-radius: 100px;
        padding: 30px 15px 30px 15px;
        text-align: center;
        .experience__companyName{
            margin: 0 auto 10px;
        }
        .experience__team{
            margin: 10px auto 0;
        }
    }
    .experience__img {
        border-radius: 50px;
    }
    .experience__txt{
        width: 80%;
        text-align: center;
    }
}
@media (max-width: $IpadWidth){
    .experience__company{
        width: 400px;
        border-radius: 70px;
    }
    .experience__img {
        width: 300px;
        border-radius: 50px;
        @include RegularParagraph2;
        border-radius: 40px
    }
    .experience__companyName{
        @include RegularMainFont2;
    }
    .experience__team{
        @include RegularParagraph3;
    }
}
@media (max-width: $BigMobile){
    .experience__company{
        width: 340px;
        border-radius: 30px;
        padding: 20px;
    }
    .experience__img {
        width: 300px;
        border-radius: 15px;
    }
    .experience__companyName{
        @include RegularMainFont1;
    }
    .experience__team{
        @include RegularParagraph2;
    }
}

@media (max-width: $Mobile) {
    .experience__company{
        width: 300px;
    }
    .experience__img{
        width: 270px;
    }
}
