@import '../../Shared/Style/GeneralStyle.scss';

.experience{
    margin-top: 80px;
    height: fit-content;
}
.experience__content{
    height: fit-content;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.experience__company{
    background-color: $SystemBlue3Color;
    width: 600px;
    border-radius: 0 100px 100px 0;
    padding: 30px 15px 30px 0;
}
.experience__companyName{
    @include RegularHeaderMediumBold2;
    margin-left: 80px;
    margin-bottom: 20px;
    color: $SystemDarkColor;
}
.experience__team{
    margin: 20px 0 0 80px;
    @include RegularParagraphBold;
    width: fit-content;
    color: $SystemDarkColor;
}
.experience__img{
    width: 500px;
    border-radius: 0 50px 50px 0;
}
.experience__txt{
    width: 45%;
    text-align: left;
    color: $SystemBlue6Color;
    @include RegularParagraph1;
}

@media (max-width: $LaptopWidth){
    .experience__content{
        flex-direction: column;
    }
    .experience__company{
        border-radius: 100px;
        padding: 30px 15px 30px 15px;
        text-align: center;
        margin: auto;
        .experience__companyName{
            margin: 0 auto 10px;
        }
        .experience__team{
            margin: 10px auto 0;
        }
    }
    .experience__img {
        border-radius: 50px;
    }
    .experience__txt{
        width: 80%;
        text-align: center;
    }
}
@media (max-width: $IpadWidth){
    .experience__company{
        width: 500px;
    }
    .experience__img {
        width: 400px;
        border-radius: 50px;
    }

}
@media (max-width: $BigMobile){
    .experience__company{
        width: 340px;
        border-radius: 30px;
    }
    .experience__img {
        width: 300px;
        border-radius: 15px;
    }
    .experience__companyName{
        @include RegularMainFont1;
    }
    .experience__team{
        @include RegularParagraph2;
    }
}

@media (max-width: $Mobile) {
    .experience__company{
        width: 300px;
    }
    .experience__img{
        width: 270px;
    }
    .aboutMe__txt .aboutMe__techSkills {
        gap: 3px;
    }
}
