@import '../../Shared/Style/GeneralStyle.scss';


.changeImg__img{
    width: 100%;
}
.changeImg__question{
    position: absolute;
    top: 20%;
    right: 70px;
    @include MainScriptOverBig;
    color: $SystemDarkColor;
}
.changeImg{
    position: relative;
}


@media (max-width: $TvWidth) {
    .changeImg {
        margin-bottom: 120px;
    }
}
@media (max-width: $LaptopWidth) {
    .changeImg {
        margin-bottom: 80px;
    }
    .changeImg__question{
        @include MainScriptBig;
    }
}
@media (max-width: $IpadWidth) {
    .changeImg__question{
        @include MainScriptNorm;
    }
}
@media (max-width: $BigMobile) {
    .changeImg__question{
        top: 7%;
        right: 20px;
    }
}
