@import '../../Style/GeneralStyle.scss';

.title{
    @include RegularMainFont3;
    padding: 10px 30px ;
    // border: 3px solid $SystemDarkColor;
    width: fit-content;
    box-shadow: 2px 2px 4px 0px $SystemDarkColor;
    margin: 0px auto 100px auto;
    border-radius: 20px;
    background-color: $SystemBlueColor;
    color: $SystemDarkColor;
    position: relative;
    transition: 0.7s;
    border: 1px solid $SystemBlue2Color;
    &:hover{
        // background-color: $SystemBlue1Color;
    }
}

@media (max-width: $Mobile){
    .title{
        padding: 10px 15px;
        &::after{
            left: -35px;
        }
        &::before{
            right: -35px;
        }
        &:hover{
            &::after{
                background-color: transparent;
            }
            &::before{
                background-color: transparent;
            }
        }
    }
}