@import '../../Style/GeneralStyle.scss';

.title{
    @include RegularMainFont3;
    padding: 10px 30px ;
    border: 3px solid $SystemDarkColor;
    width: fit-content;
    margin: 0px auto 100px auto;
    border-radius: 25px;
    background-color: $SystemBlueColor;
    color: $SystemDarkColor;
    position: relative;
    transition: 0.7s;
    &::after{
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $SystemBlueColor;
        top: 50%;
        transform: translateY(-50%);
        left: -50px;
        border: 2px solid;
        transition: 0.5s;
    }
    &::before{
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $SystemBlueColor;
        top: 50%;
        transform: translateY(-50%);
        right: -50px;
        border: 2px solid;
        transition: 0.5s;
    }
    &:hover{
        background-color: $SystemBlue1Color;
        &::after{
            left: 0;
            border: none;
            background-color: $SystemBlue1Color;
        }
        &::before{
            right: 0;
            border: none;
            background-color: $SystemBlue1Color;
        }
    }
}

@media (max-width: $Mobile){
    .title{
        padding: 10px 15px;
        &::after{
            left: -35px;
        }
        &::before{
            right: -35px;
        }
        &:hover{
            &::after{
                background-color: transparent;
            }
            &::before{
                background-color: transparent;
            }
        }
    }
}