@import '../../Shared/Style/GeneralStyle.scss';

.aboutMe{
    height: 100vh;
    position: relative;
    // background-color: #fff7f3;
}
.aboutMe__img{
    height: 300px;
    border-radius: 100px 0 100px 0;
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    // border: 5px solid $SystemBlue4Color;
    box-shadow: 3px 3px 3px 3px $SystemBlue4Color;
}
.aboutMe__txt{
    width: 60%;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    .aboutMe__name{
        @include RegularHeaderBigBold;
        margin: 0 0 0px 0;
        color: $SystemBlue6Color;
        text-align: center;
    }
    .aboutMe__work{
        @include RegularMainFont2;
        margin: 0px 0 10px 0;
        color: $SystemBlue3Color;
    }
    .aboutMe__intro{
        @include RegularParagraph1;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__langueges{
        @include RegularParagraph1;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__softSkills{
        @include RegularParagraph1;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__techSkills{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    .aboutMe__mySkills{
        @include MainScriptSmall;
        color: $SystemBlue6Color;
        border: 2px solid $SystemBlue6Color;
        border-radius: 15px;
        width: fit-content;
        text-align: center;
        margin: 50px auto 20px;
        padding: 10px 7px;
    }
}