@import '../../Shared/Style/GeneralStyle.scss';

.aboutMe{
    height: 100vh;
    padding: 50px 0;
    height: 100%;
    .aboutMe__container{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
}
.aboutMe__img{
    height: 400px;
    border-radius: 100px 0 100px 0;
    box-shadow: 3px 3px 3px 3px $SystemBlue4Color;
}
.aboutMe__txt{
    width: 60%;
    .aboutMe__name{
        @include RegularHeaderBigBold;
        margin: 0 0 0px 0;
        color: $SystemDarkColor;
        text-align: center;
    }
    .aboutMe__work{
        @include RegularMainFont2;
        margin: 0px 0 10px 0;
        color: $SystemBlue3Color;
    }
    .aboutMe__intro{
        @include RegularParagraph3;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__langueges{
        @include RegularParagraph3;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__softSkills{
        @include RegularParagraph3;
        color: $SystemBlue6Color;
        text-align: left;
        margin-bottom: 10px;
    }
    .aboutMe__techSkills{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .aboutMe__mySkills{
        @include RegularHeaderMediumBold;
        color: $SystemDarkColor;
        box-shadow: 2px 2px 4px 0px $SystemBlue6Color;
        background-color: $SystemBlueColor;
        border-radius: 20px;
        width: fit-content;
        text-align: center;
        margin: 50px auto 20px;
        padding: 10px 30px;
    }
}
@media (min-width: $LaptopWidth) {
    .aboutMe__techSkills{
        gap: 5px;
        flex-direction: row;
    }
}
@media(max-width: $LaptopWidth){
    .aboutMe{
        .aboutMe__container{
            justify-content: center;
        }
        .aboutMe__txt{
            width: 80%;
            text-align: center;
            .aboutMe__intro{
                text-align: center;
            }
            .aboutMe__langueges{
                text-align: center;
            }
            .aboutMe__softSkills{
                text-align: center;
            }
        }
        .aboutMe__mySkills{
            margin: 20px auto;
        }
        .aboutMe__img{
            display: none;
        }
    }
    .aboutMe__techSkills{
        flex-direction: column;
        gap: 10px;
    }
}