@import '../../Style/GeneralStyle.scss';

.boxProject{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: $SystemBlue2Color;
    border: 2px solid $SystemBlue6Color;
    transition: 0.5s;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    min-height: 200px;
    box-shadow: 1px 1px 4px 2px $SystemBlue5Color;
    height: fit-content;
    &:hover{
        transform: translateY(-15px);
        box-shadow: 7px 9px 10px 3px $SystemBlue5Color;
        background-color: $SystemBlueColor;
    }
}
.boxProject__title{
    margin: 0 auto 10px;
    @include RegularHeaderBold25400;
    color: $SystemDarkColor;
}
.boxProject__creator{
    @include RegularParagraph2;
    color: $SystemDarkColor;
}
.boxProject__link{
    text-decoration: none;
    color: $SystemWhiteColor;
    @include RegularParagraph2;
    transition: 0.3s;
    display: block;
    &:hover{
        transform: scale(1.1);
    }
}
.boxProject__linkCode {
    text-decoration: none;
    color: $SystemBlue6Color;
    @include MainScriptOverSmall;
}

@media (max-width: $BigMobile){
    .boxProject{
        width: 250px;
    }
    .boxProject__title{
        @include RegularParagraph3;
    }
    .boxProject__creator{
        @include RegularParagraph2;
    }
    .boxProject__link{
        @include RegularMainFont1;
        span{
            font-size: 22px;
        }
    }
}
@media (max-width: $Mobile){
    .boxProject{
        width: 215px;
    }
}