@import '../../../Shared/Style/GeneralStyle.scss';

.mainPage{
    position: relative;
}
.container{
    padding: 0px;
}



@media (min-width: $LaptopMaxWidth){
    .container{
        padding: 0px $PaddingBigContainer;
    }
}
@media (min-width: $LaptopWidth){
    .container{
        padding: 0px $PaddingContainer;
    }
}
@media (min-width: $IpadWidth){
    .container{
        padding: 0px $PaddingMediumContainer;
    }
}
@media (min-width: $TabletWidth){
    .container{
        padding: 0px;
    }
}
@media (max-width: $MobileMediumWidth){
    .container{
        padding: 0px ;
    }
}
// @media (max-width: $IpadWidth){
//     .container{
//         padding: 0px $PaddingSmallContainer;
//     }
// }
// @media (max-width: $BigMobile){
//     .container{
//         padding: 0px $PaddingXSmallContainer;
//     }
// }